module.exports = {
  text: 'This is from wxs',
  inArr: function (target, arr) {
    return arr.indexOf(target) > -1
  },
  round2: function(num) {
    return Math.round( num * 100) / 100
  },
  round0: function(num) {
   return Math.round(num)
  },
  time2str: function(timestamp) {
    var d1 = getDate(timestamp)
    return d1.getFullYear() + '-' + (d1.getMonth() + 1) + '-' + d1.getDate()
  }
}
